
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid #6f6f6f;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 9000px;
    color: rgb(40, 15, 426);
    padding: 100px;
}
button{

color:rgb(34, 102, 49);/*coleur l paimentenligne*/
font-size: 20pt;/*taille de carraux */
}

fieldset{

    padding: 30px;
    border-radius: 50px;
    
   
}
label{
    color: rgb(8, 6, 8);
border-bottom-right-radius: 100px;
font-size: 25pt
}
button1{
    color: rgb(65, 170, 100);
    font-size: 40pt;

    
}